<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-saving-goal-heading"
        data-cy="SavingGoalCreateUpdateHeading"
        jhiTranslate="notificationsProjApp.savingGoal.home.createOrEditLabel"
      >
        Create or edit a Saving Goal
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="notificationsProjApp.savingGoal.targetAmount" for="field_targetAmount"
            >Target Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="targetAmount"
            id="field_targetAmount"
            data-cy="targetAmount"
            formControlName="targetAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="notificationsProjApp.savingGoal.currentAmount" for="field_currentAmount"
            >Current Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="currentAmount"
            id="field_currentAmount"
            data-cy="currentAmount"
            formControlName="currentAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="notificationsProjApp.savingGoal.targetDate" for="field_targetDate">Target Date</label>
          <div class="input-group">
            <input
              id="field_targetDate"
              data-cy="targetDate"
              type="text"
              class="form-control"
              name="targetDate"
              ngbDatepicker
              #targetDateDp="ngbDatepicker"
              formControlName="targetDate"
            />
            <button type="button" class="btn btn-secondary" (click)="targetDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="notificationsProjApp.savingGoal.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
