<div>
  <h2 id="page-heading" data-cy="SavingGoalHeading">
    <span jhiTranslate="notificationsProjApp.savingGoal.home.title">Saving Goals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="notificationsProjApp.savingGoal.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-saving-goal"
        [routerLink]="['/saving-goal/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="notificationsProjApp.savingGoal.home.createLabel">Create a new Saving Goal</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (savingGoals?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="notificationsProjApp.savingGoal.home.notFound">No Saving Goals found</span>
    </div>
  }

  @if (savingGoals && savingGoals.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="targetAmount">
              <div class="d-flex">
                <span jhiTranslate="notificationsProjApp.savingGoal.targetAmount">Target Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="currentAmount">
              <div class="d-flex">
                <span jhiTranslate="notificationsProjApp.savingGoal.currentAmount">Current Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="targetDate">
              <div class="d-flex">
                <span jhiTranslate="notificationsProjApp.savingGoal.targetDate">Target Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.id">
              <div class="d-flex">
                <span jhiTranslate="notificationsProjApp.savingGoal.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (savingGoal of savingGoals; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/saving-goal', savingGoal.id, 'view']">{{ savingGoal.id }}</a>
              </td>
              <td>{{ savingGoal.targetAmount }}</td>
              <td>{{ savingGoal.currentAmount }}</td>
              <td>{{ savingGoal.targetDate | formatMediumDate }}</td>
              <td>
                {{ savingGoal.user?.id }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/saving-goal', savingGoal.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/saving-goal', savingGoal.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(savingGoal)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (savingGoals && savingGoals.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
