<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (savingGoal) {
      <div>
        <h2 data-cy="savingGoalDetailsHeading"><span jhiTranslate="notificationsProjApp.savingGoal.detail.title">Saving Goal</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ savingGoal.id }}</span>
          </dd>
          <dt><span jhiTranslate="notificationsProjApp.savingGoal.targetAmount">Target Amount</span></dt>
          <dd>
            <span>{{ savingGoal.targetAmount }}</span>
          </dd>
          <dt><span jhiTranslate="notificationsProjApp.savingGoal.currentAmount">Current Amount</span></dt>
          <dd>
            <span>{{ savingGoal.currentAmount }}</span>
          </dd>
          <dt><span jhiTranslate="notificationsProjApp.savingGoal.targetDate">Target Date</span></dt>
          <dd>
            <span>{{ savingGoal.targetDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="notificationsProjApp.savingGoal.user">User</span></dt>
          <dd>
            <span>{{ savingGoal.user?.id }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/saving-goal', savingGoal.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
